@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  max-width: 144rem;
  min-height: 90rem;
  /* line-height: 1.5;
  position: relative;
  max-width: 1440px;
  max-height: 900px;

  background: #fff8f2; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main {
  background: #fff8f2;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col mx-auto sm:mx-32 sm:px-2 px-2;
}

.link_item {
  @apply text-[1.8rem] font-archivo text-primary-brown;
}

.btn {
  @apply bg-btn-color shadow-[-3px_8px_24px_rgba(248,153,84,0.35)] rounded-[116px] font-archivo not-italic font-semibold text-[1.7rem] leading-[1.8rem] text-white;
}

.line {
  @apply bg-color-rose h-0.5 mx-4;
}

.active {
  @apply text-primary-orange;
}

.line_active {
  @apply bg-primary-orange shadow-[0px_4px_9px_rgba(248,150,79,0.24)] rounded-2xl opacity-100;
}
.line_hidden {
  @apply opacity-0;
}

.shadow {
  @apply shadow-[9px_-12px_400px_14px_rgba(248,150,79,1)];
  -webkit-box-shadow: 9px -12px 400px 14px rgba(248, 150, 79, 1);
  -moz-box-shadow: 9px -12px 400px 14px rgba(248, 150, 79, 1);
}
.review_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:max-w-[60rem] w-full h-fit;
}

.edit {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent text-2xl;
}

.delete {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent text-2xl;
}
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}
.desktop_menu {
  @apply flex justify-between items-center flex-row;
}
.mobile_menu {
  @apply flex justify-between items-center flex-col;
}
.head_text {
  @apply mt-5 text-5xl font-archivo leading-[1.15] text-black sm:text-6xl;
}
